<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="tripalocal.com.au.tripalocalbeta" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name="tripalocal.com.au.tripalocalbeta.models.Tripalocal"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:icon,android:theme" >
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".Views.HomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity
            android:name=".Views.ExpListActvity2"
            android:label="@string/title_activity_exp_list_actvity2"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tripalocal.com.au.tripalocalbeta.Views.HomeActivity" />
        </activity>
        <activity
            android:name=".Views.ExpDetailActivity"
            android:label="@string/title_activity_exp_detail"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tripalocal.com.au.tripalocalbeta.Views.ExpListActvity2" />
        </activity>
        <activity
            android:name=".Views.CheckoutActivity"
            android:label="@string/title_activity_checkout"
            android:parentActivityName=".Views.ExpDetailActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tripalocal.com.au.tripalocalbeta.Views.ExpDetailActivity" />
        </activity>
        <activity
            android:name=".Views.PaymentActivity"
            android:label="@string/title_activity_payment"
            android:parentActivityName=".Views.CheckoutActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tripalocal.com.au.tripalocalbeta.Views.CheckoutActivity" />
        </activity>
        <activity
            android:name=".Views.MyTripActivity"
            android:label="@string/title_activity_my_trip"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        </activity>
        <activity
            android:name=".Views.ReviewActivity"
            android:label="@string/title_activity_review"
            android:parentActivityName=".Views.ExpDetailActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tripalocal.com.au.tripalocalbeta.Views.ExpDetailActivity" />
        </activity>
        <activity
            android:name=".Views.MyProfileActivity"
            android:label="@string/title_activity_my_profile"
            android:parentActivityName=".Views.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tripalocal.com.au.tripalocalbeta.Views.HomeActivity" />
        </activity>

        <activity
            android:name=".Views.AlipayActivity"
            android:label="@string/title_activity_alipay"
            android:parentActivityName=".Views.PaymentActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tripalocal.com.au.tripalocalbeta.Views.PaymentActivity" />
        </activity>
    </application>

</manifest>
